<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <title>Item Display Page</title>
</head>

<body>

    <!-- Top Banner -->
    <div class="container-fluid bg-dark text-white p-3">
        <div class="row">
            <!-- Left Side - Logo and Tagline -->
            <div class="col-md-6">
                <img src="your_logo.png" alt="Your Logo" width="50">
                <p class="mt-2 mb-0"><em>Eat what is right for you</em></p>
            </div>
        
            <!-- Right Side - Buttons -->
            <div class="col-md-6 text-right">
                <a href="/home"><button type="button" class="btn btn-light mr-2">Home</button></a>
                <a href="/logout"><button type="button" class="btn btn-light mr-2">Logout</button></a>
                <!-- You can replace the user icon below with an actual user icon or an image -->
                <a href="/user/#{user_id}"><button type="button" class="btn btn-light"><i class="fas fa-user"></i></button></a>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <!-- Restaurant Name and Logo -->
        <div class="row">
            <div class="col-md-6 d-flex">
                <h1>Restaurant Name</h1>
                <img src="restaurant_logo.jpg" alt="Restaurant Logo" width="100">
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
        <!-- Left Side - Item Name and Ingredients -->
        <div class="col-md-6">
            <h2>Item Name</h2>
            <p>Ingredients: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi.</p>
        </div>

        <!-- Right Side - Item Image -->
        <div class="col-md-6 text-center">
            <img src="item_image.jpg" alt="Item Image" class="img-fluid">
        </div>
        </div>
    </div>

</body>

</html>
